#side {
	flex: 30%;
	background-color: $bg-side;
	overflow: hidden;

	header {
		display: flex;
		height: 59px;
		background: $bg-side-header;
		align-items: center;
		padding: 0 15px;

		div:first-child {
			flex-grow: 1;
		}

		button {
			padding: 8px 12px;
		}
	}

	.search {
		padding: 10px;
		border-bottom: $border-color 1px solid;


		div {
			padding: 5px 15px;
			background-color: $bg-side-header;
			border-radius: 10px;
			display: flex;
			gap: 35px;

			input {
				flex-grow: 1;
			}
		}

		input {
			border: none;
			background-color: transparent;
			color: $font-color;
			font-size: 15px;
		}
	}

	.list {
		overflow: scroll;
		height: 100%;
	}

	.profile {
		padding: 30px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		div:first-child {
			display: flex;
			justify-content: center;
		}

		label {
			color: #09a784;
		}

		p {
			margin: 20px 0;
		}
	}
}